@use "colors";

body {
  color: colors.$primaryText
}

* {
  font-family: 'PT Sans', Helvetica, sans;
}

.body1 {
  font-size: 18px;
  letter-spacing: 0.5px;
}

.caption {
  font-size: 14px;
  letter-spacing: 0.4px;
}

.h5 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

.h6 {
  margin: 0;
  font-size: 20px;
  letter-spacing: 0.15px;
  font-weight: bold;
}